<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>edu.facilities.servlet.view.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>edu.facilities.servlet.view.Application</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>edu.facilities.servlet.view.UserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gradeManager</servlet-name>
        <servlet-class>edu.facilities.servlet.view.gradeManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>baseManager</servlet-name>
        <servlet-class>edu.facilities.servlet.view.BaseServletManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacilitiesManager</servlet-name>
        <servlet-class>edu.facilities.servlet.view.FacilitiesManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveManager</servlet-name>
        <servlet-class>edu.facilities.servlet.view.ReserveManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>edu.facilities.servlet.view.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacationManager</servlet-name>
        <servlet-class>edu.facilities.servlet.view.VacationManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveFind</servlet-name>
        <servlet-class>edu.facilities.servlet.view.ReserveFind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacilitiesReport</servlet-name>
        <servlet-class>edu.facilities.servlet.view.FacilitiesReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/application.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/userManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradeManager</servlet-name>
        <url-pattern>/gradeManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>baseManager</servlet-name>
        <url-pattern>/baseManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacilitiesManager</servlet-name>
        <url-pattern>/facilitiesManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveManager</servlet-name>
        <url-pattern>/reserveManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacationManager</servlet-name>
        <url-pattern>/vacationManager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveFind</servlet-name>
        <url-pattern>/reserveFind.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacilitiesReport</servlet-name>
        <url-pattern>/facilitiesReport.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
